# OpenSSH Server Configuration
# TechCorp Multi-Service Container

# Port & Protocol
Port 22
Protocol 2
AddressFamily any
ListenAddress 0.0.0.0

# Host Keys
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Authentication
PasswordAuthentication yes
ChallengeResponseAuthentication yes
UsePAM yes
PubkeyAuthentication yes

# Logging
SyslogFacility AUTH
LogLevel INFO

# Security
PermitRootLogin prohibit-password
StrictModes yes
MaxAuthTries 6
MaxSessions 10

# Allow admin user
AllowUsers admin